@charset "UTF-8";
/*utilidades = variables-funciones-mixin-*/
/*colors*/
/*spacings*/
/*font-sizes*/
/*base = reset, tipografias*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-family: 'Roboto', sans-serif; }
    html body img {
      width: 100%; }

/*layout*/
/*----------footer--------*/
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  background-color: #5791D9;
  padding: 0.5rem 0; }
  .footer__nombreslogan {
    text-align: center; }
  .footer__navbar ul {
    list-style-type: none; }
  .footer__navbar a {
    text-decoration: none;
    text-transform: lowercase;
    color: #243C59;
    font-size: 2em;
    font-weight: bold; }
  .footer__redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    column-gap: 2.4rem; }

/*-------------header----------*/
.header {
  display: flex;
  flex-direction: column;
  max-width: 1350px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #54C3F0; }
  .header__section {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .header__logo {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .header__nombreslogan {
    text-align: center; }

/*nav bootstrap*/
.nav__color {
  background-color: #54C3F0; }

/*------------main---------------*/
.main {
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #50E2E6; }
  .main__section--separación {
    margin-bottom: 2.4rem;
    padding-top: 0.5rem; }
  .main__articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.6em;
    margin: 2rem 1.5rem;
    width: 70%; }
    .main__articulo h3 {
      margin-bottom: 1rem;
      text-align: center; }
    .main__articulo p {
      text-align: justify;
      margin: 1rem 0; }
  .main__imagen {
    margin-top: 2.4rem;
    margin-bottom: 2rem; }

/*componentes*/
/*---gradientes - transforaciones---*/
.gradiente__main {
  background-image: radial-gradient(blue, #0bc5f3, #b0f1f1); }

.gradiente__form {
  background-image: radial-gradient(#089f8f, #64c987, #2a4858, #39b48e); }

.rotar__logo {
  transform: skew(0deg, 0deg); }
  .rotar__logo img:hover {
    transform: skew(10deg, 10deg); }

.boton:hover {
  border: dotted 5px blue; }

/*----animaciones-manual--*/
.animacion {
  color: black;
  /* --font-size: 2rem; -- */
  /*nombre*/
  animation-name: nombre-slogan;
  /*veces a ejecutar*/
  animation-iteration-count: infinite;
  /*duracion*/
  animation-duration: 8s;
  /*tiempo que hasta que carga*/
  animation-delay: 6s; }

@keyframes nombre-slogan {
  0% {
    color: black; }
  25% {
    color: blue;
    transform: rotate(30deg);
    /* --font-size: 2.5rem;-- */ }
  50% {
    color: white;
    transform: rotate(-30deg);
    /* --font-size: 3rem;-- */ }
  75% {
    color: cornflowerblue;
    /*-- font-size: 2.5rem;-- */ }
  100% {
    color: black;
    /*-- font-size: 2rem; --*/ } }

/*vistas*/
/*contacto*/
.main__contacto-flex {
  display: flex;
  gap: var 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 clamp(600px, 40%, 500px);
  font-size: 1.6em; }

.contacto__formulario {
  margin: 2rem 0; }
  .contacto__formulario h1 {
    text-align: center;
    color: #243C59;
    font-weight: 600; }
  .contacto__formulario fieldset {
    border: solid #243C59 3px; }

.contacto__tabla-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contacto__tabla-flex h3 {
    margin: 2rem 0; }
  .contacto__tabla-flex th {
    border: #243C59 3px solid;
    text-align: center;
    padding: 1rem; }
  .contacto__tabla-flex td {
    border: #243C59 3px solid;
    text-align: center;
    padding: 0.5rem; }

/*objetivos - servicios*/
.main__lista li {
  margin: 0.5rem 0; }

.productos__h3 h3, .productos__h3--destacado h3 h3 {
  text-align: center;
  color: #243C59;
  font-size: 2em;
  font-weight: bold; }

.productos__img img, .productos__img--destacado img img {
  border: solid 5px #079FB3;
  text-align: center;
  width: 100%; }

/*ubicacion*/
.main__ubicacion-flex {
  display: flex;
  flex-direction: column; }
  .main__ubicacion-flex__ubicacion {
    margin: 0 0.5rem; }
  .main__ubicacion-flex h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2em; }

/* map = lista de elementos*/
/*each - if*/
.borde-destacado1 {
  border-image: url("../multimedia/galeria/gafas-para-perros-dog-glasses.jpg");
  border: solid blue 5px; }

.borde-destacado2 {
  border-image: url("../multimedia/galeria/bebedero-portatil-para-mascotas.jpg");
  border: solid lightblue 3px; }

.borde-destacado3 {
  border-image: url("../multimedia/galeria/panoleta-friends.jpg");
  border: solid lightblue 3px; }

/*extend -seccion servicios*/
.productos__h3--destacado h3 {
  color: #18A326; }

.productos__img--destacado img {
  border: dashed 8px #09B361; }

/*mixin seccion footer*/
.footer {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.footer__redes {
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/*utilidades - mediaqueries*/
/*-----responsive-----*/
@media screen and (min-width: 1px) and (max-width: 320px) {
  /*----header-----*/
  .header__section {
    display: flex;
    flex-direction: column; }
  /*-----------main-----------------*/
  .main__section-flex {
    flex-direction: column; }
  /*contacto*/
  .main__contacto-flex {
    display: flex;
    flex-direction: column; }
    .main__contacto-flex .contacto__tabla-flex {
      display: none; }
  /*-------footer---------*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .footer__nombreslogan {
      display: none; }
    .footer__navbar ul {
      list-style-type: none; }
    .footer__navbar a {
      display: none; }
    .footer__redes {
      justify-content: space-evenly; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  /*----header-----*/
  .header__section {
    display: flex;
    flex-direction: column; }
  /*-----------main-----------------*/
  .main__section-flex {
    flex-direction: column; }
  /*contacto*/
  .main__contacto-flex {
    display: flex;
    flex-direction: column; }
    .main__contacto-flex .contacto__tabla-flex {
      display: none; }
  /*-------footer---------*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .footer__nombreslogan {
      display: none; }
    .footer ul {
      list-style-type: none; }
      .footer ul a {
        display: none; }
    .footer__redes {
      justify-content: space-evenly; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*----header-----*/
  .header__section {
    display: flex;
    flex-direction: column; }
  /*-----------main-----------------*/
  .main__section-flex {
    flex-direction: column; }
  /*contacto*/
  .main__contacto-flex {
    display: flex;
    flex-direction: column; }
    .main__contacto-flex .contacto__tabla-flex {
      display: none; }
  /*-------footer---------*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .footer__nombreslogan {
      display: none; }
    .footer ul {
      list-style-type: none; }
      .footer ul a {
        display: none; }
    .footer__redes {
      justify-content: space-evenly; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*----header-----*/
  .header__section {
    display: flex; }
  /*-----------main-----------------*/
  .main__section-flex {
    flex-direction: column; }
  /*contacto*/
  .main__contacto-flex {
    display: flex;
    flex-direction: column; }
    .main__contacto-flex .contacto__tabla-flex {
      margin-bottom: 2rem; }
  /*-------footer---------*/
  .footer__navbar ul {
    list-style-type: none; }
    .footer__navbar ul a {
      display: none; }
  .footer__redes {
    justify-content: space-evenly; } }
