/*contacto*/

.main__contacto-flex {
    display: flex;
    gap: var $space-small;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 clamp(600px, 40%, 500px);
    font-size: $text-base;


}

.contacto__formulario {
    margin: $space-small 0;

    & h2 {
        text-align: center;
        color: $text-color2;
        font-weight: 600;
        background-color: $text-fon;
        opacity: 1;
    }

    & fieldset {
        border: solid $text-color 3px;
        text-align: center;
        padding: $space-ssmall 0;
    }
}

.contacto__tabla-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
        margin: $space-small 0;
        color: $text-color2;
        font-weight: bold;
        background-color: $text-fon;
        opacity: 1;
    }

    & th {
        border: $text-color 3px solid;
        text-align: center;
        padding: $space-xsmall;
        background-color: $text-fon;
        opacity: 1;
    }

    & td {
        border: $text-color 3px solid;
        text-align: center;
        padding: $space-xxsmall;
        color: $text-color3;
        font-weight: bold;
        background-color: $text-fon;
        opacity: 1;
    }
}