.productos__h3 h3 {
    text-align: center;
    color: $text-color;
    font-size: $text-medium;
    font-weight: bold;
    background-color: $secondary;
}

.productos__img img {
    border: solid 5px $border-primary;
    text-align: center;
    width: 100%;

}

.productos__img img:hover{
    border: double 6px $text-color3;
}

#productos h2 {
    color: $text-color2 ;
    font-weight: bold;
    background-color: $menu-media;
    text-align: center;
}

