/*ubicacion*/

.main__ubicacion-flex {
    display: flex;
    flex-direction: column;

    &__ubicacion {
        margin: 0 $space-xxsmall;
    }

    & h1 {
        text-align: center;
        margin: $space-small 0;
        font-size: $text-medium;
        color: $text-color2;
        font-weight: bold;
    }

}

