/*----------footer--------*/

.footer {
    @include flex(row, space-evenly, center);
    max-width: 1350px;
    margin: 0 auto;
    background-color: $secondary;
    padding: $space-xxsmall 0;
    background-image: url(../../multimedia/fondo-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__nombreslogan {
        text-align: center;
        font-weight: bold;
    }

    &__navbar {

        & ul {
            list-style-type: none;
        }

        & a {
            text-decoration: none;
            text-transform: lowercase;
            color: $alternate;
            font-size: $text-medium;
            font-weight: bold;
        }
    }

    &__formulario h3{
        color: $alternate;
        background-color: $text-color;
        text-align: center;
        font-weight: bold;
    }

    &__formulario form{
        text-align: center;
    }

    &__redes {
        @include flex(row, center, center);
        margin-top: $space-xxsmall;
        column-gap: $space-medium;
    }
}