/*-------------header----------*/
.header {
    display: flex;
    flex-direction: column;
    max-width: 1350px;
    margin: 0 auto;
    padding: $space-xsmall 0;
    background-color: $primary;
    background-image: url(../../multimedia/fondo-header.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto;
    

    &__section {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    &__logo {
        margin-top: $space-xsmall;
        margin-bottom: $space-xsmall;
    }

    &__nombreslogan {
        text-align: center;
    }
}

/*nav bootstrap*/

.nav__color {
    background-color: none;
    & a{
        color: $text-color2;
        font-weight: bold;
        font-size: $text-small;
    }
}
 