/*-------------header----------*/
.header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: $space-xsmall 0;
    background-color: $menu-media;
    background-image: url(../multimedia/fondo-header.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto;
    

    &__section {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    &__logo {
        margin-top: $space-xsmall;
        margin-bottom: $space-xsmall;
    }

    &__nombreslogan {
        text-align: center;
        font-weight: bold;
        background-color: $menu-media;
        opacity: 0.7;
    }
}

/*nav bootstrap*/

.nav__color {
    background-color: none;
    & a{
        background-color: $menu-media;
        color: $text-color2;
        font-weight: bold;
        font-size: $text-small;
        margin-right: $space-ssmall;
    }
}
.nav__color a:hover{
    background-color: $alternate2;
    color: $text-color2;
} 