/*------------main---------------*/

.main {
    max-width: 100%;
    margin: 0 auto;
    margin-top: $space-xxsmall;
    margin-bottom: $space-xxsmall;

    &__section--separación {
        margin-bottom: $space-small;
        padding-top: $space-xxsmall;
    }

    &__articulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-small;
        font-size: $text-base;
        margin: $space-small $space-ssmall;
        width: 70%;

        & h1 {
            color: $text-color2 ;
            font-weight: bold;
            background-color: $menu-media;
            text-align: center;
        }

        & h2 {
            color: $text-color2 ;
            font-weight: bold;
            background-color: $menu-media;
            text-align: center;
        }

        & h3 {
            margin-bottom: $space-xsmall;
            text-align: center;
            color: $text-color3;
            background-color: $menu-media;
            font-weight: bold;
            opacity: 0.79;
        }

        & p {
            text-align: justify;
            margin: $space-xsmall 0;
            color: $text-color2;
            font-weight: bold;
            background-color: $menu-media;
            opacity: 0.79;
        }

    }

    &__imagen {
        margin-top: $space-medium;
        margin-bottom: $space-small;
    }

}

