/*---gradientes - transforaciones---*/

.gradiente__main{
    background-image: radial-gradient( blue, rgb(11, 197, 243), rgb(176, 241, 241) );
    background-image: url(../../multimedia/fondo-main.jpg);
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradiente__form{
    background-image: radial-gradient( rgb(8, 159, 143),rgb(100, 201, 135),rgb(42, 72, 88),rgb(57, 180, 142));
    background-image: url(../../multimedia/fondo-form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rotar__logo{
    transform: skew(0deg,0deg);

    & img:hover{
        transform: skew(10deg,10deg);
    }
}

.footer__navbar a:hover{
    background-color: $text-color;
}

.boton:hover{
    border: dotted 5px blue ;
}

/*----animaciones-manual--*/

.animacion{
    color: black;
    /* --font-size: 2rem; -- */
    /*nombre*/
    animation-name: nombre-slogan;
    /*veces a ejecutar*/
    animation-iteration-count: infinite;
    /*duracion*/
    animation-duration: 12s;
    /*tiempo que hasta que carga*/
    animation-delay: 1s;
}
@keyframes nombre-slogan {
    0%{
        color: #5ECAE0;

    }
    25%{
        color: #1613E0;
       
    }
    50%{
        color:#68E0A0;
       
    }
    75%{
        color: #27A0E0;
    }
    100%{
        color:  #5ECAE0;
    }
}
