/*---gradientes - transforaciones---*/

.gradiente__main{

    // background-color: #6EB0C2;
    background-image: url(../multimedia/fondo-form.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradiente__form{
    background-image: url(../multimedia/fondo-form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rotar__logo{
    transform: skew(0deg,0deg);

    & img:hover{
        transform: skew(10deg,10deg);
    }
}

.footer__navbar a:hover{
    color: $text-color3;
    background-color: $alternate2;
}

.boton:hover{
    border: dotted 5px blue ;
}

.btn__productos{
    font-size: $text-medium;
    font-weight: bold;
    color: $text-color;
}

.btn__form{
    @extend .btn__productos;
    font-size: $text-small;
}

/*----animaciones-manual--*/

.animacion{
    color: black;
    font-size: $text-large; 
    /*nombre*/
    animation-name: nombre-slogan;
    /*veces a ejecutar*/
    animation-iteration-count: infinite;
    /*duracion*/
    animation-duration: 12s;
    /*tiempo que hasta que carga*/
    animation-delay: 1s;
}
@keyframes nombre-slogan {
    0%{
        color: #993900;

    }
    25%{
        color: #1613E0;
       
    }
    50%{
        color:#F51106;
       
    }
    75%{
        color: #AB1FF5;
    }
    100%{
        color:  #197DFF;
    }
}
