/* map = lista de elementos*/
$destacado: (
    destacado1: url('multimedia/galeria/gafas-para-perros-dog-glasses.jpg'),
    destacado2: url('multimedia/galeria/guacal-gatos.jpg'),
    destacado3: url('multimedia/galeria/panoleta-friends.jpg'),
);

/*each - if*/
@each $name,
$url in $destacado {
    .borde-#{$name} {
        border-image: #{$url};

        @if($name =="destacado1") {
            border: solid blue 5px;
        }

        @else {
            border: solid lightblue 3px;
        }
    }
}

/*extend -seccion servicios*/
.productos__h3--destacado h3 {
    @extend .productos__h3;
    color: $text-color3;
}

.productos__img--destacado img {
    @extend .productos__img;
    border: dashed 8px $border-destacado ;
}

/*mixin seccion footer*/
@mixin flex ($direction, $justify, $aling) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}

.footer {
    @include flex(row, space-evenly, center)
}

.footer__redes {
    @include flex(row, center, center)
}