 /*colors*/
 $primary: #54C3F0 ;
 $secondary: #5791D9;
 $alternate: #50E2E6;
 $alternate2: #9CBADF;
 $text-color: #243C59;
 $text-color2: white;
 $text-color3:#18A326;
 $border-primary: #079FB3;
 $border-destacado:#09B361;

 /*spacings*/
 $space-large: 6rem;
 $space-medium: 2.4rem;
 $space-small: 2rem;
 $space-ssmall: 1.5rem;
 $space-xsmall: 1rem;
 $space-xxsmall: .5rem;

 /*font-sizes*/
 $text-large: 5em;
 $text-medium: 2em;
 $text-base: 1.6em;
 $text-small: 1.4em;